<suite name="JioHotstar Suite">

    <listeners>
        <listener class-name="utils.TestListener"/>
    </listeners>

    <test name="All Tests">
        <classes>
            <class name="tests.LoginTest"/>
            <class name="tests.SearchTest"/>
            <class name="tests.PlaybackTest"/>
        </classes>
    </test>

</suite>